<%- include('../_partials/_header') %>
<%- include('../_partials/_navigation') %>

<div class="content">
  <div class="wrapper">
    <div class="information">
      <h1>Bestand</h1>
    </div>
  </div>
</div>

<%- include('../_partials/_footer') %>
