<%- include('../_partials/_header') %>
<%- include('../_partials/_navigation') %>
<%- include('../_partials/_user') %>

<div class="content">
  <div class="wrapper">
    <div class="information">
      <div class="info__block">
        <h4>Übersicht</h4>
      </div>
      <div class="info__block">
        <span class="subtle">Seit</span><h4>letzten Login</h4>
      </div>
    </div>
    <div class="vorlagen">
      <div class="vorlage">
        <h3>Neuer Auftrag</h3>
        <h3>KD Schmidt</h3>
        <p>Quidam officiis similique sea ei, vel tollit indoctum efficiendi ei, at nihil tantas platonem eos.</p>
        <p><a href="#">Neuer Auftrag</a></p>
      </div>
      <div class="new__vorlage">
        <div class="add">
          <span>Neue Vorlage</span>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../_partials/_footer') %>
