<%- include('../_partials/_header') %>

<div class="login-wrap">
	<div class="login-html">
    <img class="logo" src="/assets/stamp.png" alt="">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<form class="login-form" method="POST" action="/login">
			<div class="sign-in-htm">
				<div class="group">
					<label for="user" class="label">E-Mail</label>
					<input id="user" type="text" class="input" name="email" aria-describedby="basic-addon1">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input" name="password" aria-describedby="basic-addon1">
				</div>
				<div class="group">
					<input id="check" type="checkbox" class="check" name="stay" checked>
					<label for="check"><span class="icon"></span> Keep me Signed in</label>
				</div>
				<div class="group">
					<input type="submit" class="button" name="submit" value="Sign In">
				</div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<a href="#forgot">Forgot Password?</a>
				</div>
			</div>
		</form>
	</div>
</div>


<%- include('../_partials/_footer') %>
