<div class="navigation">
  <div class="logo">
    <img src="assets/stamp.png" alt="">
  </div>
  <div class="directories">
    <ul>
      <li class="active">
        <a href="#">
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Einkauf</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Verkauf</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Stammdaten</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Bestand</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Preise</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Auswertung</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="settings">
    <ul>
      <li>
        <a href="#">
          <span>Profil</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Einstellungen</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </div>
</div>
